.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  border: 1px solid grey;
}
  .text {
    padding: 10px;
    text-align: left;
    border: 1px solid grey;
    background: lightblue;
    text-align: center;
    
  }
 .title:nth-child(odd) {
    background: white;
    padding: 40px;
    
  }
  .title:nth-child(even) {
    background: lightgrey;
  }