@import '/node_modules/modern-normalize/modern-normalize.css';
 
body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(91, 168, 136) 19%, rgba(148, 187, 233, 1) 100%);
  }
